@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Rubik+Bubbles&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #000;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
}


ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.topofsite .logotipo img {
    width: 12%;
}

.topofsite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    margin: 0 auto;
}

.topofsite .logotipo {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.topofsite .title {
    margin-left: 10px;
    font-size: 17px;
    transition: 0.3s ease-in-out;
    font-family: Arvo, sans-serif;
    color: #000;
}

.topofsite .title:hover{
    border-bottom: gray solid 1px;
    color: gray;
}

.topofsite .menu {
    display: flex;
}

.topofsite .navmenu .menu .item {
    margin: 15px;
    transition: 0.3s ease-in-out;
    font-family: Arvo, sans-serif;
}

.topofsite .navmenu .menu .item a {
    color: #000;
}

.topofsite .navmenu .menu .item a:hover {
    border-bottom: gray solid 1px;
    color: gray;
    transition: 0.3s ease-in-out;
    font-family: Arvo, sans-serif;
}

#bannerpanel .panel .banner {
    width: auto;
    height: 60%;
    width: auto;
}

#bannerpanel .panel .banner img {
    width: 100%;
    height: 80vh;
    opacity: 110%;
    object-fit: cover;
}

#bannerpanel .panel .banner h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #f5f5f5; 
    font-size: 25px; 
    font-weight: bold;
    text-align: center;
    font-family: Arvo, sans-serif;
    font-size: 38px;
    transition: 0.3s ease-in-out;
}

#bannerpanel .panel .banner .button-banner {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: regular;
    text-align: center;
    font-family: Arvo, sans-serif;
    font-size: 23px;
    margin: 0;
    padding: 7px;
    background: none;
    cursor: pointer;
    border: solid 1px #FFF;
    border-radius: 10px;
    opacity: 89%;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#bannerpanel .panel .banner .button-banner:hover {
    border: solid 3px #fff;
    opacity: 110%;
    border-radius: 10px;
    background-color: #F5F5F5;
    color: #000;
}

section.project {
    padding-top: 5px;
}

section.project .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section.project .container .project-card {
    border: 1px solid #ffb500;
    padding: 10px 20px;
  }

  section.project .container .project-card .languages {
    margin: 0;
    font-style: italic;
    font-size: 10px;
  }